<a href="https://colab.research.google.com/github/shredr555/ITMO-Python-PythonML/blob/main/%D0%98%D0%BD%D0%B4%D0%B8%D0%B2%D0%B8%D0%B4%D1%83%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5_%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
from pandas import Series, DataFrame
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt

region_salary = pd.read_csv('ROSSTAT_SALARY_RU_2019_normalized.csv', delimiter=',', decimal='.')
region_salary = region_salary.set_index('REGION_NAME')
region_salary = region_salary.drop(['Новгородская область', 'Республика Дагестан', 'Кабардино-Балкарская Республика', 'Ставропольский край'])
region_salary = region_salary.sort_values(by='SALARY')
region_salary['index'] = list(range(len(region_salary.index)))
region_salary[region_salary['index'] == 12]
# round(region_salary.mean(), 2)
# region_salary['SALARY'].median()

                   SALARY  index
REGION_NAME
Псковская область   27339     12